{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <title>Sign Up</title>
</head>

<body>
    <header>
        <a href="{% url 'home' %}"><h2 class="logo">SneakerFever</h2></a>
        
    </header>

    <div class="wrapper">
        <div class="form-box signup">

            <h2>Sign Up</h2>
            {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail-open-outline"></ion-icon>
                    </span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type="password" name="confirm_password" required>
                    <label>Confirm Password</label>
                </div>
                <button type="submit" class="btn">Sign Up</button>
                <div class="login-reg">
                    <p>Already have an account? <a href="{% url 'login' %}" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
